.fslightbox-slide-btn-container-next {
  right: 0;
  padding-left: 12px;
  padding-right: 3px;

  @media (min-width: 476px) {
    padding-left: 22px;
  }

  @media (min-width: 768px) {
    padding-left: 30px;
  }
}

@media (min-width: 476px) {
  .fslightbox-slide-btn-container-next {
    padding-right: 6px;
  }
}
