.fslightbox-loader {
  display: block;
  margin: auto;
  position: relative;
  width: 67px;
  height: 67px;
}

.fslightbox-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 6px;
  border: 5px solid #999;
  border-radius: 50%;
  animation: fslightbox-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}

.fslightbox-loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.fslightbox-loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.fslightbox-loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes fslightbox-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}