#app {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%; }

html, body {
  overflow: auto;
  margin: 0;
  padding: 0;
  background: #f5f6f6; }

.images {
  width: 100%;
  margin: auto; }
  .images .image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 50px; }

h1 {
  color: #20a4a7;
  font-size: 72px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 70px; }

* {
  box-sizing: border-box; }

.fslightbox-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  z-index: 1;
  background: rgba(35, 35, 35, 0.65); }

.fslightbox-toolbar-button {
  height: 100%;
  width: 45px;
  cursor: pointer; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 67px;
  height: 67px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 6px;
  border: 5px solid #999;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fslightbox-single-source {
  display: none; }

.fslightbox-fade-in {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation: fslightbox-fade-in-animation .25s ease;
  -o-animation: fslightbox-fade-in-animation .25s ease;
  animation: fslightbox-fade-in-animation .25s ease;
  -webkit-transform: translateZ(0);
  image-rendering: optimizeQuality; }

@keyframes fslightbox-fade-in-animation {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.fslightbox-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;
  background: linear-gradient(rgba(30, 30, 30, 0.9), black 1810%);
  font-family: Arial, sans-serif;
  z-index: 9999999; }

.fslightbox-open {
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  bottom: 0; }

.fslightbox-nav {
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.fslightbox-slide-number-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .85rem;
  color: #a1a1a1;
  z-index: 1;
  max-width: 46px; }
  .fslightbox-slide-number-container .fslightbox-slide-slide-number {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 2px; }

.fslightbox-svg-icon {
  width: 1em;
  height: 1em; }

.fslightbox-svg-icon path,
.fslightbox-svg-icon polygon,
.fslightbox-svg-icon rect {
  fill: #ddd; }

.fslightbox-svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1; }

.fslightbox-slide-btn-container {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 6px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%); }

.fslightbox-slide-btn-container:hover .fslightbox-svg-icon path,
.fslightbox-slide-btn-container:hover .fslightbox-svg-icon polygon,
.fslightbox-slide-btn-container:hover .fslightbox-svg-icon rect {
  fill: #f1f1f1; }

.fslightbox-slide-btn {
  padding: 8px;
  font-size: 26px;
  background: rgba(35, 35, 35, 0.65); }

.fslightbox-slide-btn-right-container {
  right: 0;
  padding-left: 20px;
  padding-right: 6px; }

.button-style {
  display: flex;
  align-items: center;
  justify-content: center; }

.fslightbox-media-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.button-style:hover .fslightbox-svg-icon path,
.button-style:hover .fslightbox-svg-icon polygon,
.button-style:hover .fslightbox-svg-icon rect {
  fill: #fff; }
