.fslightbox-fade-in {
  animation: fslightbox-fade-in .25s cubic-bezier(0, 0, .7, 1) forwards;
}

.fslightbox-fade-out {
  animation: fslightbox-fade-out .25s ease forwards;
}

.fslightbox-fade-in-complete {
  animation: fslightbox-fade-in-complete .25s cubic-bezier(0, 0, .7, 1) forwards;
}

.fslightbox-fade-out-complete {
  animation: fslightbox-fade-out-complete .25s ease !important;
}

@keyframes fslightbox-fade-in-complete {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fslightbox-fade-out-complete {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fslightbox-fade-in {
  from {
    opacity: .65;
  }
  to {
    opacity: 1;
  }
}


@keyframes fslightbox-fade-out {
  from {
    opacity: .35;
  }
  to {
    opacity: 0;
  }
}
