.fslightbox-absoluted {
  position: absolute;
  top: 0;
  left: 0; }

.fslightbox-fade-in {
  animation: fslightbox-fade-in 0.25s cubic-bezier(0, 0, 0.7, 1); }

.fslightbox-fade-out {
  animation: fslightbox-fade-out .25s ease; }

.fslightbox-fade-in-strong {
  animation: fslightbox-fade-in-strong 0.25s cubic-bezier(0, 0, 0.7, 1); }

.fslightbox-fade-out-strong {
  animation: fslightbox-fade-out-strong .25s ease; }

@keyframes fslightbox-fade-in {
  from {
    opacity: .65; }
  to {
    opacity: 1; } }

@keyframes fslightbox-fade-out {
  from {
    opacity: .35; }
  to {
    opacity: 0; } }

@keyframes fslightbox-fade-in-strong {
  from {
    opacity: .3; }
  to {
    opacity: 1; } }

@keyframes fslightbox-fade-out-strong {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fslightbox-cursor-grabbing {
  cursor: grabbing; }

.fslightbox-full-dimension {
  width: 100%;
  height: 100%; }

.fslightbox-open {
  overflow: hidden;
  height: 100%; }

.fslightbox-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.fslightbox-opacity-0 {
  opacity: 0 !important; }

.fslightbox-opacity-1 {
  opacity: 1 !important; }

.fslightbox-scrollbarfix {
  padding-right: 17px; }

.fslightbox-transform-transition {
  transition: transform .3s; }

.fslightbox-container {
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(30, 30, 30, 0.9), black 1810%);
  z-index: 9999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .fslightbox-container * {
    box-sizing: border-box; }

.fslightbox-svg-path {
  transition: fill .15s ease;
  fill: #ddd; }

.fslightbox-nav {
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.fslightbox-slide-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 15px;
  color: #d7d7d7;
  z-index: 0;
  max-width: 55px;
  text-align: left; }
  .fslightbox-slide-number-container .fslightbox-flex-centered {
    height: 100%; }

.fslightbox-slash {
  display: block;
  margin: 0 5px;
  width: 1px;
  height: 12px;
  transform: rotate(15deg);
  background: #fff; }

.fslightbox-toolbar {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  background: rgba(35, 35, 35, 0.65); }

.fslightbox-toolbar-button {
  height: 100%;
  width: 45px;
  cursor: pointer; }

.fslightbox-toolbar-button:hover .fslightbox-svg-path {
  fill: white; }

.fslightbox-slide-btn-container {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 6px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
  transform: translateY(-50%); }
  @media (min-width: 476px) {
    .fslightbox-slide-btn-container {
      padding: 22px 22px 22px 6px; } }
  @media (min-width: 768px) {
    .fslightbox-slide-btn-container {
      padding: 30px 30px 30px 6px; } }

.fslightbox-slide-btn-container:hover .fslightbox-svg-path {
  fill: #f1f1f1; }

.fslightbox-slide-btn {
  padding: 9px;
  font-size: 26px;
  background: rgba(35, 35, 35, 0.65); }
  @media (min-width: 768px) {
    .fslightbox-slide-btn {
      padding: 10px; } }
  @media (min-width: 1600px) {
    .fslightbox-slide-btn {
      padding: 11px; } }

.fslightbox-slide-btn-container-previous {
  left: 0; }

@media (max-width: 475.99px) {
  .fslightbox-slide-btn-container-previous {
    padding-left: 3px; } }

.fslightbox-slide-btn-container-next {
  right: 0;
  padding-left: 12px;
  padding-right: 3px; }
  @media (min-width: 476px) {
    .fslightbox-slide-btn-container-next {
      padding-left: 22px; } }
  @media (min-width: 768px) {
    .fslightbox-slide-btn-container-next {
      padding-left: 30px; } }

@media (min-width: 476px) {
  .fslightbox-slide-btn-container-next {
    padding-right: 6px; } }

.fslightbox-down-event-detector {
  position: absolute;
  z-index: 1; }

.fslightbox-slide-swiping-hoverer {
  z-index: 4; }

.fslightbox-invalid-file-wrapper {
  font-size: 22px;
  color: #eaebeb;
  margin: auto; }

.fslightbox-video {
  object-fit: cover; }

.fslightbox-youtube-iframe {
  border: 0; }

.fslightbox-loader {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px; }
  .fslightbox-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 6px;
    border: 5px solid;
    border-color: #999 transparent transparent transparent;
    border-radius: 50%;
    animation: fslightbox-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
  .fslightbox-loader div:nth-child(1) {
    animation-delay: -0.45s; }
  .fslightbox-loader div:nth-child(2) {
    animation-delay: -0.3s; }
  .fslightbox-loader div:nth-child(3) {
    animation-delay: -0.15s; }

@keyframes fslightbox-loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fslightbox-source {
  position: relative;
  margin: auto;
  opacity: 0;
  z-index: 2;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: opacity .3s;
  will-change: opacity; }

.fslightbox-source-outer {
  will-change: transform; }
