.fslightbox-container {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  font-family: Arial, sans-serif;
}

.fslightbox-open {
  position:absolute;
  width:100%;
  overflow-y:hidden;
  top:0;
  bottom:0;
}

.fslightbox-single-source {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.fslightbox-media-holder {
  height: 80%;
}

.fslightbox-nav {
  height: 46px;
  width: 100%;
  position: relative;
}

.fslightbox-slide-number-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .85rem;
  color:#aaa;
  max-width: 46px;

  .fslightbox-slide-slide-number {
    padding: 0 2px;
  }
}
@import "tools/toolbar";