.fslightbox-single-source {
  //stransform: translateZ(0);
  //max-height: 100%;
  //max-width: 100%;
}

.fslightbox-source-holder {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fslightbox-transform-transition {
  -webkit-transition: transform .20s;
  -moz-transition: transform .20s;
  -ms-transition: transform .20s;
  -o-transition: transform .20s;
  transition: transform .20s;
}

@keyframes slide-right {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-130%, 0 , 0);
  }
}

.fslightbox-fade-in {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //-webkit-animation: fslightbox-fade-in-animation .25s ease;
  //-o-animation: fslightbox-fade-in-animation .25s ease;
  //animation: fslightbox-fade-in-animation .25s ease;
  //-webkit-transform: translateZ(0);
  image-rendering: optimizeQuality;
}

@keyframes fslightbox-fade-in-animation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}