.fslightbox-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  background: rgba(0,0,0,0.18);
}

.fslightbox-toolbar-button {
  height: 100%;
  width: 46px;
  cursor: pointer;
}
