.fslightbox-slide-number-container {
  height: 100%;
  font-size: 14px;
  color: #d7d7d7;
  z-index: 0;
  max-width: 46px;

  div {
    padding: 0 2px;
  }
}

.fslightbox-slash {
  padding-top: .15rem;
}