.fslightbox-slide-number-container {
  height: 100%;
  font-size: 14px;
  color: #d7d7d7;
  z-index: 0;
  max-width: 55px;

  div {
    padding: 0 1.5px;
  }
}

.fslightbox-slash {
  font-size: 16px;
  margin-top: -1.5px;
}