.fslightbox-slide-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 15px;
  color: #d7d7d7;
  z-index: 0;
  max-width: 55px;
  text-align: left;

  .fslightbox-flex-centered {
    height: 100%;
  }
}

.fslightbox-slash {
  display: block;
  margin: 0 5px;
  width: 1px;
  height: 12px;
  transform: rotate(15deg);
  background: #fff;
}
