.fslightbox-slide-number-container {
  height: 100%;
  font-size: 15px;
  color: #d7d7d7;
  z-index: 0;
  max-width: 55px;

  div {
    padding: 0 2px;
  }
}

.fslightbox-slash {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
}
